/* General Styles */
body {
  font-family: 'Arial', sans-serif;
  font-size: 16px; /* Scaled down from 18px to 16px */
  color: #333;
  margin: 0;
  padding: 0;
  background-color: #fff;
  overflow-x: hidden;
  line-height: 1.6;
}

%/* Specific Justification for Elements */
%p, li {
%  text-align: justify; /* Justifies all paragraphs and list items */
%}

/* Floating Profile Photo */
.profile-photo {
  float: left; /* Float the image to the left */
  width: 280px; /* Set the desired width */
  border-radius: 6%; /* Round the image corners */
  margin: 0 20px 20px 0; /* Add margin to the right and bottom of the image */
}

.navbar {
  position: absolute;
  top: 20px;
  left: 0;
  width: 100%;
  text-align: center;
}

.navbar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.navbar ul li {
  display: inline-block;
  margin: 0 15px;
}

.navbar ul li a {
  text-decoration: none;
  color: #a472e6;
  font-weight: bold;
  font-size: 16px; /* Scaled down from 18px to 16px */
}

a {
  text-decoration: none;
  color: #a472e6;
}

a:hover {
  text-decoration: underline;
}

.main-header {
  margin-top: 150px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/* Responsive large heading */
.large-heading {
  font-size: 2.3vw; /* Default font size for large screens */
  font-weight: 600;
  text-align: left;
  margin: 20px 0;
}

@media screen and (max-width: 768px) {
  .large-heading {
    font-size: 7vw; /* Larger font size for medium screens */
  }
}

@media screen and (max-width: 480px) {
  .large-heading {
    font-size: 10vw; /* Much larger font size for smaller screens */
  }
}

.main-header p {
  font-size: 18px; /* Scaled down from 20px to 18px */
  color: #666;
}

.contact-links {
  margin-top: 20px;
  font-size: 16px; /* Scaled down from 18px to 16px */
}

.content {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  text-align: left;
  line-height: 1.6;
  font-size: 16px; /* Scaled down from 18px to 16px */
}

/* Responsive images */
.responsive-image {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto; /* Centers the image horizontally */
}

