/* General Styles */
body {
  font-family: 'Arial', sans-serif;
  font-size: 16px; /* Scaled down from 18px to 16px */
  color: #333;
  margin: 0;
  padding: 0;
  background-color: #fff;
  overflow-x: hidden;
  line-height: 1.6;
}

%/* Specific Justification for Elements */
%p, li {
%  text-align: justify; /* Justifies all paragraphs and list items */
%}

/* Floating Profile Photo */
.profile-photo {
  float: left; /* Float the image to the left */
  width: 260px; /* Set the desired width */
  border-radius: 10%; /* Round the image corners */
  margin: 0 20px 20px 0; /* Add margin to the right and bottom of the image */
}

/* Sticky Navbar */
.navbar {
  position: fixed; /* Changes position to fixed */
  top: 0; /* Sticks the navbar to the top */
  left: 0;
  width: 100%; /* Takes the full width */
  background-color: #fff; /* Adds a background color */
  z-index: 1000; /* Ensures the navbar stays on top of other content */
  text-align: center;
  padding: 10px 0; /* Adds some padding */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Adds a slight shadow for better visibility */
}

/* Adjust body content to avoid overlap with navbar */
body {
  padding-top: 60px; /* Adjust according to your navbar height */
}


.navbar ul li {
  display: inline-block;
  margin: 0 15px;
}

.navbar ul li a {
  text-decoration: none;
  color: #a472e6;
  font-weight: bold;
  font-size: 16px; /* Scaled down from 18px to 16px */
}

a {
  text-decoration: none;
  color: #a472e6;
}

a:hover {
  text-decoration: underline;
}

.main-header {
  margin-top: 150px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/* Responsive large heading */
.large-heading {
  font-size: 2.3vw; /* Default font size for large screens */
  font-weight: 600;
  text-align: left;
  margin: 20px 0;
}

@media screen and (max-width: 768px) {
  .large-heading {
    font-size: 6vw; /* Larger font size for medium screens */
  }
}

@media screen and (max-width: 480px) {
  .large-heading {
    font-size: 9vw; /* Much larger font size for smaller screens */
  }
}

.main-header p {
  font-size: 18px; /* Scaled down from 20px to 18px */
  color: #666;
}

.contact-links {
  margin-top: 20px;
  font-size: 16px; /* Scaled down from 18px to 16px */
}

.content {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  text-align: left;
  line-height: 1.6;
  font-size: 16px; /* Scaled down from 18px to 16px */
}

/* Responsive images */
.responsive-image {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto; /* Centers the image horizontally */
}

/* EEG Simulation Canvas */
#eegCanvas {
  display: block;
  margin: 20px auto; /* Centers the canvas */
  border: 1px solid #ddd; /* Adds a subtle border */
  background-color: #fff; /* Background color for the canvas */
  position: relative;
}

/* EEG Channel Labels */
.channel-label {
  position: absolute;
  left: 10px; /* Position from left */
  font-size: 12px;
  color: #333;
}


